@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body{
    background-color: #262626;
    font-family: Comfortaa;
}

.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    text-decoration: none;
    padding: 10px 50px;
    font-size: 1.25rem;
    position: relative;
    margin: 32px;
    background-color: aliceblue;
    border-radius: 30px;
}


p{
    text-align: center;
    color: aliceblue;
    margin-top: 50px;
    margin-left: 350px;
    margin-right: 350px;
}